* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
}
.home  ul li{
    width: 23px;
    gap: 20px;
    font-size: 14px;
    list-style: none;
    font-weight: 700;
    padding-top: 20px;
}
.library{
    min-height: 68vh;
    position: relative;
}
.heading{
    display: flex;
    gap: 20px;
    list-style: none;
}
.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 13px;
    font-style: none;
    font-size: 10px;
}
.footer a{
    color:gray;
}
.left {
    width: 23vw;
    padding:5px;
}
/* .home{
} */
.right {
    width: 75vw;
    margin: 10px 0px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header > *{
    padding: 20px;
}
.spotify_playlist{
    padding: 15px;
}
.card_container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px;
}
.card{
    padding: 10px;
    background-color: #242424;
    width: 175px;
    border-radius: 5px;
}

.card > * {
    padding-top: 10px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
