.border{
    border: 2px solid rgb(248, 242, 242);
    margin: 3px;
}
.flex{
    display: flex;
}
.justify{
    justify-content: center;
}
.align{
    align-items: center;
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 15px;
}
.bg-black{
    background-color: black;
}
::-webkit-scrollbar {
    width: 10px;       
  }
  
  ::-webkit-scrollbar-track {
    background: #333;        
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555; 
    border-radius: 5px;      
    border: 2px solid #333; 
  }